.componente-container{
 padding: 10px;
}
.linha-botoes {
  margin-top: 10px;
  text-align: right;
  padding-right: 3%;
}
.linha-botoes button{
  margin-left: 10px;
}
.form-check {
  margin-top: 5px;
}
